<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Cook book</title>
  <link rel="stylesheet" href="Assets/Styles/test.css">
</head>
<body>
<%= yield %>
<script src="Assets/Scripts/test.js"></script>
</body>
</html>
